* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    /* Colors */
    --light-cream: #fefcf7;
    --dark-grey-blue: #333d4b;
    --grey: #83888f;
    --light-cyan: #66d2cf;
    --dark-cyan: #0E8784;
    --pale-orange: #FDD6BA;
}

/* Global */
body {
    background-color: var(--light-cream);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--grey);
}

h1, h2, h3, h4, h5 {
    font-family: 'Fraunces', serif;
}

p, li {
    font-family: 'Barlow', sans-serif;
}

/* JS Toggles */
.hide {
    display: none !important;
}

/* Sections */
#header {
    width: 1280px;
    margin: 30px auto;
}

@media screen and (max-width: 1280px) {
    #header {
        width: 90%;
    }
}

@media screen and (max-width: 769px) {
    #header {
        width: 689px;
    }
}

@media screen and (max-width: 480px) {
    #header {
        width: 327px;
        margin-bottom: 102px;
    }
}

#hero  {
    width: 1280px;
    height: 450px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 168px;
}

@media screen and (max-width: 1280px) {
    #hero {
        width: auto;
    }
}

@media screen and (max-width: 769px) {
    #hero {
        width: 689px;
    }
}

@media screen and (max-width: 480px) {
    #hero {
        width: 327px;
    }
}

#commitment {
    width: 1110px;
    height: 520px;
    margin: 0 auto;
    margin-bottom: 168px;
}

@media screen and (max-width: 1280px) {
    #commitment {
        width: 90%;
    }
}

@media screen and (max-width: 769px) {
    #commitment {
        width: 689px;
    }
}

@media screen and (max-width: 480px) {
    #commitment {
        width: 327px;
        height: 901px;
        margin-bottom: 102px;
    }
}

#quality {
    width: 1280px;
    height: 562px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 168px;
}

@media screen and (max-width: 1280px) {
    #quality {
        width: 90%;
    }
}

@media screen and (max-width: 769px) {
    #quality {
        width: 688px;
    }
}

@media screen and (max-width: 480px) {
    #quality {
        width: 327px;
        margin-bottom: 102px;
    }
}

#headquarters {
    width: 1045px;
    height: 366px;
    margin: 0 auto;
    margin-bottom: 168px;
    display: flex;
    margin-bottom: 168px;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    #headquarters {
        width: 90%;
    }
}

@media screen and (max-width: 769px) {
    #headquarters {
        width: 688px;
    }
}

@media screen and (max-width: 480px) {
    #headquarters {
        width: 327px;
        height: 1044px;
        flex-direction: column;
        align-items: center;    
    }
}

#footer {
    height: 100px;
    background-color: var(--dark-grey-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    #footer {
        width: 90%;
    }
}

@media screen and (max-width: 769px) {
    #footer {
        width: 689px;
        height: 270px;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 480px) {
    #footer {
        width: 327px;
        height: 346px;
        justify-content: space-around;
    }
}

/* navigation */
.hamburger {
    display: none;
}

@media screen and (max-width: 480px) {
    .hamburger {
        display: block;
        width: 16px;
        height: 15px;
    }
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 50px;
}

@media screen and (max-width: 1280px) {
    .nav-main {
        width: auto;
    }
}

@media screen and (max-width: 769px) {
    .nav-main {
        width: 689px;
    }
}

@media screen and (max-width: 480px) {
    .nav-main {
        width: 327px;
        display: none;
    }    
}

.nav-mobile {
    display: none;
}

@media screen and (max-width: 480px) {
    .nav-mobile {
        display: block;
    } 
}

.nav-list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

@media screen and (max-width: 480px) {
    .nav-list {
        display: none;
    }   
}

.nav-link {
    font-weight: bold;
    margin-top: 15px;
}

.nav-link:not(:last-child) {
    margin-right: 30px;
}

.nav-link:hover {
    color: var(--dark-grey-blue);
}

/* Hero */
.hero-image {
    border-radius: 10px;
}

@media screen and (max-width: 1280px) {
    .hero-image {
        width: 90%;
    }
}

@media screen and (max-width: 769px) {
    .hero-image {
        display: none;
    }
}

.hero-image-tablet {
    display: none;
    border-radius: 10px;
    width: 689px;
    height: 400px;
}

@media screen and (max-width: 769px) {
    .hero-image-tablet {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .hero-image-tablet {
        display: none;
    }   
}

.hero-image-mobile {
    display: none;
    width: 327px;
    height: 400px;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .hero-image-mobile {
        display: block;
    }  
}

.hero-content {
    position: absolute;
    left: 85px;
    color: var(--light-cream);
    width: 445px;
    height: 176px;
}

@media screen and (max-width: 480px) {
    .hero-content {
        width: 279px;
        height: 202px;
        left: unset;
        text-align: center;
    } 
}

.hero-heading {
    font-size: 40px;
    margin-bottom: 24px;
}

.hero-paragraph {
    line-height: 26px;
}

/* Commitment */
.commitment-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .commitment-container {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 480px) {
    .commitment-container {
        width: 327px;
        height: 901px;
        flex-direction: column;
    }
}

.commitment-image {
    border-radius: 10px;
}

@media screen and (max-width: 769px) {
    .commitment-image {
        display: none;
    }
}

.commitment-image-tablet {
    display: none;
    border-radius: 10px;
}

@media screen and (max-width: 769px) {
    .commitment-image-tablet {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .commitment-image-tablet {
        display: none;
    }  
}

.commitment-image-mobile {
    display: none;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .commitment-image-mobile {
        display: block;
        width: 327px;
    }  
}

.commitment-content {
    width: 540px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 769px) {
    .commitment-content {
        width: 339px;
        height: 453px;
    }
}

@media screen and (max-width: 480px) {
    .commitment-content {
        text-align: center;
    } 
}

.commitment-heading {
    font-size: 40px;
    color: var(--dark-grey-blue);
}

@media screen and (max-width: 769px) {
    .commitment-heading {
        font-size: 32px;
    }
}

@media screen and (max-width: 480px) {
    .commitment-heading {
        margin-bottom: 30px;
    }
}

.commitment-paragraph {
    line-height: 26px;
    color: var(--dark-grey-blue);
}

/* Quality */
.quality-container {
    width: 1280px;
    height: 474px;
    background-color: var(--dark-grey-blue);
    position: absolute;
    bottom: 0;
    border-radius: 10px;
}

@media screen and (max-width: 1280px) {
    .quality-container {
        width: 100%;
    }
}

@media screen and (max-width: 769px) {
    .quality-container {
        width: 688px;
        z-index: -1;
    }
}

@media screen and (max-width: 480px) {
    .quality-container {
        width: 327px;
        height: 509px;
    }
}

.quality-content {
    color: var(--light-cream);
    width: 540px;
    height: 210px;
    position: absolute;
    left: 85px;
    top: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .quality-content {
       left: 50px;
       top: 130px;
       width: 500px;
    }
}

@media screen and (max-width: 769px) {
    .quality-content {
        width: 540px;
        height: 197px;
        bottom: 67px;
        top: unset;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .quality-content {
        width: 279px;
        height: 306px;
        left: 24px;
    }
}

.quality-heading {
    font-size: 40px;
}

@media screen and (max-width: 1280px) {
    .quality-heading {
        font-size: 37px;
    }
}

@media screen and (max-width: 480px) {
    .quality-heading {
        font-size: 28px;
    }
}

.quality-image {
    position: absolute;
    top: 0;
    right: 85px;
    z-index: 1;
    border-radius: 10px;
}

@media screen and (max-width: 1280px) {
    .quality-image {
        height: 400px;
        width: auto;
        right: 100px;
    }
}

@media screen and (max-width: 769px) {
    .quality-image {
        display: none;
    }
}

.quality-image-tablet {
    display: none;
    border-radius: 10px;
}

@media screen and (max-width: 769px) {
    .quality-image-tablet {
        display: block;
        position: absolute;
        right: 58px;
        bottom: 328px;
    }
}

@media screen and (max-width: 480px) {
    .quality-image-tablet {
        display: none;
    }
}

.quality-image-mobile {
    display: none;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .quality-image-mobile {
        display: block;
        position: absolute;
        width: 279px;
        left: 24px;
    }
}

.quality-paragraph {
    line-height: 26px;
}

/* Headquarters */
.headquarters-heading  {
    font-size: 24px;
    color: var(--grey);
}

@media screen and (max-width: 480px) {
    .headquarters-heading {
        margin-bottom: 72px;
    }
}

.headquarters-container {
    width: 1045px;
    height: 366px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headquarters-item-container {
    display: flex;
    justify-content: space-between;
    width: 1045px;
    height: 262px;
}

@media screen and (max-width: 1280px) {
    .headquarters-item-container {
        width: 90%;
    }
}

@media screen and (max-width: 769px) {
    .headquarters-item-container {
        width: 688px;
    }
}

@media screen and (max-width: 480px) {
    .headquarters-item-container {
        width: 327px;
        height: 1044px;
        flex-direction: column;
        align-items: center;
    }
}

.headquarters-item {
    width: 222px;
}

.headquarters-item-heading {
    font-size: 32px;
}

@media screen and (max-width: 769px) {
    .headquarters-item-heading {
        font-size: 24px;
    }
}

.headquarters-item-content {
    width: 285px;
    height: 167px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--dark-grey-blue);
    margin-top: 40px;
}

@media screen and (max-width: 480px) {
    .headquarters-item-content {
        align-items: center;
    }
}

.headquarters-item-paragraph {
    line-height: 26px;
}

/* Footer */
.footer-nav {
    width: 622px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 769px) {
    .footer-nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer-nav {
        width: auto;
        height: 220px;
    }
}

.footer-logo {
    margin-left: 30px;
}

@media screen and (max-width: 769px) {
    .footer-logo {
        margin: auto;
    }
}

.footer-nav-list {
    display: flex;
}

@media screen and (max-width: 480px) {
    .footer-nav-list {
        flex-direction: column;
        align-items: center;
        line-height: 30px;
    }
}

.footer-nav-link {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 10px;
}

.footer-nav-link:not(:last-child) {
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    .footer-nav-link:not(:last-child) {
        margin-right: 0;
    }
}

.footer-nav-link:hover {
    color: var(--light-cream);
}

.footer-sm-container {
    margin-right: 70px;
}

@media screen and (max-width: 769px) {
    .footer-sm-container {
        margin: 0px;
    }
}

.social-link:not(:last-child) {
    margin-right: 30px;
}

/* Mobile */
@media screen and (max-width: 480px) {    
    .logo {
        width: 163px;
        height: 18px;
    }

    .nav-mobile-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list-mobile {
        width: 328px;
        height: 577px;
        z-index: 2;
        position: absolute;
        background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-item-mobile {
        margin-top: 40px;
        color: var(--dark-grey-blue);
        font-family: 'Fraunces', serif;
        font-size: 24px;
    }

    .headquarters-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-nav-item {
        font-size: 12px;
        font-weight: bold;
    }

}