* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    /* Colors */
    --light-cream: #fefcf7;
    --dark-grey-blue: #333d4b;
    --grey: #83888f;
    --light-cyan: #66d2cf;
    --dark-cyan: #0E8784;
    --pale-orange: #FDD6BA;
}

/* Global */
body {
    background-color: var(--light-cream);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--grey);
}

h1, h2, h3, h4, h5, h6, button, .step-number {
    font-family: 'Fraunces', serif;
}

p, li {
    font-family: 'Barlow', sans-serif;
}

button {
    font-size: 18px;
}

/* JS Toggles */
.hide {
    display: none !important;
}

/* Sections */
#header {
    width: 1280px;
    margin: 30px auto;
}

@media screen and (max-width: 769px) {
    #header {
        width: 689px;
        margin: 30px auto 40px auto;
    }
}

@media screen and (max-width: 480px) {
    #header {
        width: 327px;
    }
}

#hero  {
    width: 1280px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 136px;
}

@media screen and (max-width: 769px) {
    #hero {
        width: 689px;
        height: 500px;
    }
}

@media screen and (max-width: 480px) {
    #hero {
        width: 327px;
    }
}

#cta {
    height: 728px;
    width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    margin-bottom: 216px;
}

@media screen and (max-width: 769px) {
    #cta {
        width: 689px;
        height: 863px;
    }
}

@media screen and (max-width: 480px) {
    #cta {
        width: 327px;
        height: 1499px;
    }
}

#products {
    height: 524.55px;
    width: 1111px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 184.45px;
}

@media screen and (max-width: 769px) {
    #products {
        width: 689px;
        height: 927px;
        position: relative;    }
}

@media screen and (max-width: 480px) {
    #products {
        width: 375px;
        height: 1321px;
        display: flex;
    }
}

#how-to {
    height: auto;
    width: 1045px;
    height: 565px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 769px) {
    #how-to {
        width: 689px;
    }
}

@media screen and (max-width: 480px) {
    #how-to {
        width: 375px;
        height: 1116px;
        align-items: center;
    }
}

#footer {
    height: 100px;
    background-color: var(--dark-grey-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 769px) {
    #footer {
        width: 689px;
        height: 270px;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 480px) {
    #footer {
        width: 327px;
        height: 346px;
        justify-content: space-around;
    }
}

/* navigation */
@media screen and (max-width: 769px) {
    .logo {
        width: 203px;
        height: 24px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 163px;
        height: 18px;
    }
}

.hamburger {
    display: none;
}

@media screen and (max-width: 480px) {
    .hamburger {
        display: block;
        width: 16px;
        height: 15px;
    }
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 50px;
}

@media screen and (max-width: 769px) {
    .nav-main {
        width: 689px;
        height: 26px;
    }
}

@media screen and (max-width: 480px) {
    .nav-main {
        display: none;
    }
}

.nav-mobile {
    display: none;
}

@media screen and (max-width: 480px) {
    .nav-mobile {
        display: block;
    }
}

.nav-list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

@media screen and (max-width: 480px) {
    .nav-list {
        display: none;
    }
}

.nav-link {
    font-weight: bold;
    margin-top: 15px;
}

.nav-link:not(:last-child) {
    margin-right: 30px;
}

.nav-link:hover {
    color: var(--dark-grey-blue);
}

@media screen and (max-width: 769px) {
    .nav-item {
        font-size: 12px;
    }    
}

@media screen and (max-width: 480px) {
    .nav-mobile-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list-mobile {
        width: 328px;
        height: 577px;
        z-index: 2;
        position: absolute;
        background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-item-mobile {
        margin-top: 40px;
        color: var(--dark-grey-blue);
        font-family: 'Fraunces', serif;
        font-size: 24px;
    }
}

/* Hero */
.hero-content {
    width: 493px;
    height: 367px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 100px;
    top: 100px;
}

@media screen and (max-width: 769px) {
    .hero-content {
        width: 398px;
        height: 292px;
        left: 50px;
    }
}

@media screen and (max-width: 480px) {
    .hero-content {
        width: 279px;
        height: 301px;
        top: 100px;
        left: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.hero-image {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 769px) {
    .hero-image {
        display: none;
    }
}

.hero-image-tablet {
    display: none;
}

@media screen and (max-width: 769px) {
    .hero-image-tablet {
        width: 689px;
        display: block;
        height: 500px;
    }
}

@media screen and (max-width: 480px) {
    .hero-image-tablet {
        display: none;
    }
}

.hero-image-mobile {
    display: none;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .hero-image-mobile {
        display: block;
        width: 327px;
        height: 500px;
    }
}

.hero-heading {
    font-size: 72px;
    color: var(--light-cream);
}

@media screen and (max-width: 769px) {
    .hero-heading {
        font-size: 48px;
    }
}

@media screen and (max-width: 480px) {
    .hero-heading {
        font-size: 40px;
        text-align: center;
    }
}

.hero-paragraph {
    font-size: 1rem;
    color: var(--light-cream);
    line-height: 30px;
}

@media screen and (max-width: 769px) {
    .hero-paragraph {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .hero-paragraph {
        text-align: center;
    }
}

.hero-button, .how-to-button {
    width: 217px;
    height: 56px;
    background-color: var(--dark-cyan);
    color: white;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 769px) {
    .hero-button {
        width: 217px;
        height: 56px;
    }
}

@media screen and (max-width: 480px) {
    .how-to-button {
        position: initial;
    }
}

.hero-button:hover {
    background-color: var(--light-cyan);
}
/* Products */
.products-line {
    position: relative;
}

.products-container {
    color: white;
    display: flex;
    width: 1111px;
    height: 398.55px;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 769px) {
    .products-container {
        width: 689px;
        height: 927px;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .products-container {
        width: 282px;
        height: auto;
    }
}

.products-heading {
    font-size: 150px;
    text-align: center;
    color: var(--grey);
}

@media screen and (max-width: 769px) {
    .products-heading {
        font-size: 72px;
    }
}

@media screen and (max-width: 480px) {
    .products-heading {
        font-size: 40px;
    }
}

.products-heading-overlay {
    width: 1111px;
    height: 196px;
    background: rgb(254,252,247);
    background: linear-gradient(0deg, rgba(254,252,247,1) 0%, rgba(254,252,247,0) 100%);
    position: absolute;
    z-index: 1;
}

@media screen and (max-width: 769px) {
    .products-heading-overlay {
        width: 689px;
        height: 119px;
    }
}

@media screen and (max-width: 480px) {
    .products-heading-overlay {
        width: 284px;
        height: 50px;
    }
}

.products-content {
    width: 255px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
}

@media screen and (max-width: 769px) {
    .products-content {
        display: block;
        margin: auto;
        width: 283px;
        height: 106px;
    }
}

@media screen and (max-width: 480px) {
    .products-content {
        text-align: center;
    }
}

.products-content-heading {
    font-size: 24px;
    color: var(--dark-grey-blue);
    margin-bottom: 20px;
}

@media screen and (max-width: 769px) {
    .products-content-heading {
        font-size: 24px;
    }
}

.products-paragraph {
    color: var(--grey);
    text-align: center;
    line-height: 30px;
}

@media screen and (max-width: 769px) {
    .products-paragraph {
        text-align: left;
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .products-paragraph {
        text-align: center;
    }
}

@media screen and (max-width: 769px) {
    .product-container {
        display: flex;
        justify-content: space-around;
        width: 573px;
        height: 193px;
    }
}

@media screen and (max-width: 480px) {
    .product-container {
        flex-direction: column;
        align-items: center;
        width: 282px;
        height: 300px;
    }
}

.product-image {
    width: 255px;
    height: 193px;
    position: absolute;
    top: 115px;
    z-index: 1;
}

@media screen and (max-width: 769px) {
    .product-image {
        width: 255px;
        height: 193px;
        position: static;
    }
}

@media screen and (max-width: 480px) {
    .product-image {
        width: 200px;
        height: 151px;
    }
}
/* CTA */
.cta-content-container {
    width: 540px;
    height: 160px;
    color: var(--light-cream);
    margin-top: 100px;
}

@media screen and (max-width: 480px) {
    .cta-content-container {
        margin-top: 50px;
        width: 279px;
        height: 177px;
    }    
}

.cta-content {
    background-color: var(--dark-grey-blue);
    width: 1280px;
    height: 577px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    border-radius: 10px;
}

@media screen and (max-width: 769px) {
    .cta-content {
        width: 688px;
        height: 573px;
    }
}

@media screen and (max-width: 480px) {
    .cta-content {
        width: 327px;
        height: 902px;
    }
}

.cta-container {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 1110px;
    height: 382px;
    bottom: 0;
}

@media screen and (max-width: 769px) {
    .cta-container {
        width: 573px;
        height: 590px;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .cta-container {
        width: 279px;
        height: 1200px;
    }
}

.cta-heading {
    color: var(--light-cream);
    font-size: 48px;
    text-align: center;
}

@media screen and (max-width: 769px) {
    .cta-heading {
        font-size: 32px;
    }
}

.cta-paragraph {
    text-align: center;
    margin-top: 30px;
    line-height: 30px;
}

@media screen and (max-width: 769px) {
    .cta-paragraph {
        font-size: 15px;
    }    
}

.cta-item {
    background-color: var(--dark-cyan);    
    width: 350px;
    height: 382px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

@media screen and (max-width: 769px) {
    .cta-item {
        flex-direction: row;
        width: 573px;
        height: 180px;
    }
}

@media screen and (max-width: 480px) {
    .cta-item {
        width: 279px;
        height: 382px;
        flex-direction: column;
    }
}

.cta-item-content {
    width: 255px;
    height: 78px;
}

@media screen and (max-width: 769px) {
    .cta-item-content {
        width: 344px;
        height: 98px;
    }
}

@media screen and (max-width: 480px) {
    .cta-item-content {
        width: 255px;
        height: 131px;
    }
}

.cta-item-heading {
    font-size: 24px;
    color: var(--light-cream);
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 769px) {
    .cta-item-heading {
        text-align: initial;
    }
}

@media screen and (max-width: 480px) {
    .cta-item-heading {
        text-align: center;
    }
}

.cta-item-paragraph {
    color: var(--light-cream);
    text-align: center;
}

@media screen and (max-width: 769px) {
    .cta-item-paragraph {
        text-align: initial;
    }
}

@media screen and (max-width: 480px) {
    .cta-item-paragraph {
        text-align: center;
    }
}

/* How to */
.how-to-steps-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1045px;
    height: 453px;
}

@media screen and (max-width: 769px) {
    .how-to-steps-container {
        width: 689px;
    }
}

@media screen and (max-width: 480px) {
    .how-to-steps-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 327px;
        height: 1116px;
        bottom: 0;
    }
}

.how-to-heading {
    font-size: 24px;
    color: var(--grey);
}

.line-graphic {
    display: flex;
    align-items: center;
    width: 760px;
    height: 2px;
    background-color: var(--pale-orange);
    position: relative;
    left: 0;
    top: 60px;
}

@media screen and (max-width: 769px) {
    .line-graphic {
        width: 497px;
    }
}

@media screen and (max-width: 480px) {
    .line-graphic {
        display: none;
    }
}

.circle-one, 
.circle-two,
.circle-three {
    width: 31px;
    height: 31px;
    background-color: white;
    position: absolute;
    border: 2px solid var(--dark-cyan);
    border-radius: 50px;
}

.circle-one {
    left: 0;
}

.circle-two {
    left: 50%;
}

.circle-three {
    right: 0;
}

.step {
    width: 285px;
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 769px) {
    .step {
        width: 233px;
        height: 371px;
    }
}

@media screen and (max-width: 480px) {
    .step {
        align-items: center;
        justify-content: space-evenly;
        width: 327px;
        height: 252px;
    }
}


.step-number {
    font-size: 72px;
    color: var(--pale-orange);
}

.how-to-steps-heading {
    font-size: 36px;
    color: var(--dark-grey-blue);
}

@media screen and (max-width: 769px) {
    .how-to-steps-heading {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    .how-to-steps-heading {
        margin: 20px auto;
    }
}

.how-to-steps-paragraph {
    line-height: 25px;
}

@media screen and (max-width: 769px) {
    .how-to-steps-paragraph {
        font-size: 15px;
        width: 233px;
        height: 152px;
    }
}

@media screen and (max-width: 480px) {
    .how-to-steps-paragraph {
        text-align: center;
        width: 327px;
    }
}

.button-container {
    width: 1045px;
    margin: 0 auto 200px auto;
}

@media screen and (max-width: 769px) {
    .button-container {
        width: 689px;
    }
}

@media screen and (max-width: 480px) {
    .button-container {
        width: 100%;
        margin: 0 auto 150px auto;
        display: flex;
        justify-content: center;
    }
}

.how-to-button:hover {
    background-color: var(--light-cyan);
}

/* Footer */
.footer-nav {
    width: 622px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 769px) {
    .footer-nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer-nav {
        width: auto;
        height: 220px;
    }
}

.footer-logo {
    margin-left: 30px;
}

@media screen and (max-width: 769px) {
    .footer-logo {
        margin: auto;
    }
}

.footer-nav-list {
    display: flex;
}

@media screen and (max-width: 480px) {
    .footer-nav-list {
        flex-direction: column;
        align-items: center;
        line-height: 30px;
    }
}

.footer-nav-link {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 10px;
}

.footer-nav-link:not(:last-child) {
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    .footer-nav-link:not(:last-child) {
        margin-right: 0;
    }
}

.footer-nav-link:hover {
    color: var(--light-cream);
}

@media screen and (max-width: 480px) {
    .footer-nav-item {
        font-size: 12px;
        font-weight: bold;
    }    
}

.footer-sm-container {
    margin-right: 70px;
}

@media screen and (max-width: 769px) {
    .footer-sm-container {
        margin: 0px;
    }
}

.social-link:not(:last-child) {
    margin-right: 30px;
}

/*Broken*/
.social-link:hover {
    fill: var(--pale-orange);
}
