* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    /* Colors */
    --light-cream: #fefcf7;
    --dark-cream: #F4F1EB;
    --dark-grey-blue: #333d4b;
    --grey: #83888f;
    --light-cyan: #66d2cf;
    --dark-cyan: #0E8784;
    --pale-orange: #FDD6BA;
    --light-grey: #E2DEDB;
}

/* Global */
body {
    background-color: var(--light-cream);
}

li {
    list-style-type: none;
}

li, p {
    font-family: 'Barlow', sans-serif;
}


a {
    text-decoration: none;
    color: var(--grey);
}

h1, h2, h3, h4, .selection-item {
    font-family: 'Fraunces', serif;
}

/* classes for js toggle */
.hide {
    display: none;
}

.show {
    display: flex;
}

.rotate {
    transform: rotate(180deg);
}

.color {
    background-color: var(--dark-cyan) !important;
    color: var(--light-cream);
}

/* Sections */
#header {
    width: 1280px;
    margin: 30px auto;
}

#how-to {
    height: auto;
    width: 1280px;
    height: 653px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--dark-grey-blue);
    margin-bottom: 168px;
    position: relative;
    border-radius: 10px;
}

#selection {
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#footer {
    height: 100px;
    background-color: var(--dark-grey-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

/* navigation */
.hamburger {
    display: none;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 50px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.nav-link {
    font-weight: bold;
    margin-top: 15px;
}

.nav-link:not(:last-child) {
    margin-right: 30px;
}

.nav-link:hover {
    color: var(--dark-grey-blue);
}

/* Hero */
#hero {
    width: 1280px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 168px;
}

.hero-image {
    border-radius: 10px;
}

.hero-image-tablet {
    border-radius: 10px;
    display: none;
}

.hero-image-mobile {
    display: none;
    width: 327px;
    height: 400px;
    border-radius: 10px;
}

.hero-content {
    width: 445px;
    height: 182px;
    position: absolute;
    top: 134px;
    left: 85px;
    color: var(--light-cream)
}

.hero-heading {
    font-size: 72px;
}

.hero-paragraph {
    line-height: 26px;
    filter: opacity(0.8);
}

/* How to */
.how-to-steps-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1045px;
    height: 453px;
    position: absolute;
    left: 85px;
}

.how-to-heading {
    font-size: 24px;
    color: var(--grey);
}

.line-graphic {
    display: flex;
    align-items: center;
    width: 760px;
    height: 2px;
    background-color: var(--pale-orange);
    position: absolute;
    left: 85px;
    top: 100px;
}

.circle-one, 
.circle-two,
.circle-three {
    width: 31px;
    height: 31px;
    position: absolute;
    border: 3px solid var(--dark-cyan);
    border-radius: 50px;
}

.circle-one {
    left: 0;
}

.circle-two {
    left: 50%;
}

.circle-three {
    right: 0;
}

.step {
    width: 285px;
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step-number {
    height: 72px;
    font-size: 72px;
    color: var(--pale-orange);
    font-family: 'Fraunces', serif;
}

.how-to-steps-heading {
    font-size: 32px;
    width: 255px;
    height: 73px;
    color: var(--light-cream);
}

.how-to-steps-paragraph {
    line-height: 25px;
    color: var(--light-cream);
    height: 130px;
}


/* Selection */
.selection-list-container {
    width: 255px;
    height: 356px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 125px;
}

.selection-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 255px;
    height: 355px;
}

.selection-item {
    color: var(--grey);
}

hr {
    width: 100%;
}

.span-one {
    color: var(--light-cyan);
}

.selection-span {
    margin-right: 28.5px;
}

.order-span {
    color: var(--dark-cyan);
    font-size: 24px;
}

.preference-container {
    width: 730px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 88px;
}

.preference-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preference-arrow {
    width: 19px;
    height: 12px;
}

.preference-heading {
    font-size: 40px;
    color: var(--grey);
}

.preference-selection-container {
    width: 730px;
    height: 250px;
    justify-content: space-between;
    margin-top: 56px;
}

.preference-selection-item {
    width: 228px;
    height: 250px;
    background-color: var(--dark-cream);
    position: relative;
    border-radius: 10px;
}

.preference-selection-item:hover {
    background-color: var(--pale-orange)
}

.item-color {
    background-color: var(--dark-cream);
}

.preference-selection-heading {
    font-size: 24px;
}

.preference-selection-paragraph {
    line-height: 26px;
}

.preference-selection-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 172px;
    height: 134px;
    position: absolute;
    top: 28px;
    right: 32px;
    bottom: 84px;
    left: 28px;
}

.order-summary {
    width: 730px;
    height: 208px;
    background-color: var(--dark-grey-blue);
    margin-bottom: 40px;
    border-radius: 10px;
    position: relative;
}

.order-summary-content {
    width: 602px;
    height: 154px;
    position: absolute;
    top: 27px;
    left: 64px;
}

.order-summary-heading {
    color: var(--grey);
    font-family: 'Barlow', sans-serif;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.order-summary-paragraph {
    color: var(--light-cream);
    font-family: 'Fraunces', serif;
    font-size: 24px;
}

.order-button {
    width: 217px;
    height: 56px;
    border: none;
    border-radius: 10px;
    float: right;
    margin-bottom: 168px;
    font-family: 'Fraunces', serif;
    color: var(--light-cream);
    background-color: var(--light-grey);
}

/* Footer */
.footer-nav {
    width: 622px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    margin-left: 30px;
}

.footer-nav-list {
    display: flex;
}

.footer-nav-link {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 10px;
}

.footer-nav-link:not(:last-child) {
    margin-right: 10px;
}

.footer-nav-link:hover {
    color: var(--light-cream);
}

.footer-sm-container {
    margin-right: 70px;
}

.social-link:not(:last-child) {
    margin-right: 30px;
}

/* Media Queries */
/* Tablet */
@media screen and (max-width: 769px) {
    #header, #hero, .nav-main, .hero-image-tablet, #selection, #footer {
        width: 689px;
    }

    #how-to {
        width: 768px;
        height: 640px;
    }

    .how-to-steps-container {
        width: 689px;
        height: 473px;
    }

    .line-graphic {
        width: 467px;
    }

    .hero-image {
        display: none;
    }

    .hero-image-tablet {
        display: block;
    }

    .selection-list-container {
        display: none;
    }

    .line-graphic {
        left: 40px;
    }

    .how-to-steps-container {
        left: 40px;
    }

    .step {
        width: 223px;
        height: 367px;
    }

    .how-to-steps-heading {
        width: 223px;
        font-size: 28px;
    }

    .how-to-steps-paragraph {
        width: 223px;
        height: 150px;
    }

    .order-button-container {
        display: flex;
        justify-content: center;
    }

    #footer {
        height: 270px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer-logo {
        margin: auto;
    }

    .footer-sm-container {
        margin: 0px;
    }

    .footer-nav {
        flex-direction: column;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    #header, #hero, .nav-main, #how-to {
        width: 327px;
    }

    #how-to {
        height: 1116px;
        align-items: center;
    }

    #hero {
        margin-bottom: 102px;
    }

    .hero-content {
        width: 279px;
        height: 163px;
        left: 24px;
        top: 101px;
        text-align: center;
    }

    .hero-heading {
        font-size: 40px;
        margin-bottom: 22px;
    }

    .hero-image-tablet {
        display: none;
    }
    
    .hero-image-mobile {
        display: block;
    }

    .nav-list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .line-graphic {
        display: none;
    }

    .how-to-steps-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 327px;
        height: 1116px;
        bottom: 0;
        left: 0;
    }

    .step {
        align-items: center;
        justify-content: space-evenly;
        width: 327px;
        height: 252px;
    }

    .how-to-steps-heading {
        margin: 20px auto;
        width: 327px;
        text-align: center;
    }

    .how-to-steps-paragraph {
        text-align: center;
        width: 327px;
        font-size: 15px;    
    }

    .preferences-container, .preference-container,
    .preference-selection-, .order-summary,
    #selection {
        width: 328px;
    }

    .preference-container {
        margin-bottom: 96px;
        height: 540px;
    }

    .preference-selection-container {
        flex-direction: column;
        width: 328px;
        height: 452px;
    }

    .preference-selection-item {
        width: 328px;
        height: 140px;
        margin-bottom: 16px;
    }

    .preference-selection-heading {
        margin-bottom: 8px;
    }

    .preference-selection-paragraph {
        width: 278px;
    }

    .preference-selection-content {
        justify-content: unset;
        left: 25px;
    }

    .preference-heading {
        font-size: 24px;
    }

    #footer {
        width: 327px;
        height: 346px;
        justify-content: space-around;
    }

    .footer-nav {
        width: auto;
        height: 220px;
    }

    .footer-nav-list {
        flex-direction: column;
        align-items: center;
        line-height: 30px;
    }

    .footer-nav-item {
        font-size: 12px;
        font-weight: bold;
    }
    .footer-nav-link:not(:last-child) {
        margin-right: 0;
    }
}